Repository Jaydee94/kubeseal-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        exclude: ^chart/kubeseal-webgui/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #   - id: pydocstyle
  #  - repo: https://github.com/PyCQA/prospector
  #rev: 1.5.1
  #hooks:
  #- id: prospector
  #args: ["--zero-exit"]
  - repo: local
    hooks:
      # - id: mypy
      #   name: mypy
      #   entry: bash -c 'cd api && poetry run mypy kubeseal-webgui-api'
      #   language: system
      - id: isort
        name: isort (python)
        args: ["--profile", "black"]
        entry: bash -c 'cd api && poetry run isort'
        language: system
        types: [python]
        files: ^api/
      - id: pyupgrade
        name: pyupgrade
        entry: bash -c 'cd api && poetry run pyupgrade'
        language: system
        files: ^api/
      - id: black
        name: black
        language: system
        entry: bash -c 'cd api && poetry run black .'
        types: [python]
        files: ^api/
      - id: flake8
        name: flake8
        entry: bash -c 'cd api && poetry run flake8 --max-line-length=88 kubeseal_webgui_api'
        language: system
        types: [python]
        files: ^api/
      - id: tests
        name: run test suite
        entry: bash -c 'cd api && poetry install && poetry run pytest -m "not (container or cluster)"'
        language: system
        types: [python]
        pass_filenames: false
        files: ^api/
        # stages: [push]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v8.25.0" # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]

Update kubeseal binary to 0.24.3
  Dockerfile.api
Due: none

Update build stage image
  Dockerfile.ui
Due: none

Update README.md
  README.md
Due: none

Update helm chart to 5.1.3
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

Add new helm version 5.1.3
  index.yaml
  kubeseal-webgui-5.1.3.tgz
Due: none

Change ownership of home to allow root group access
  .github/workflows/kind.yaml
  Dockerfile.api
  chart/kubeseal-webgui/templates/deployment.yaml
  kind-setup.sh
Due: none

Fix group permission for app dir for running on OpenShift
  Dockerfile.api
  README.md
Due: none

Change ownership of home to allow root group access (#235)
  .github/workflows/kind.yaml
  Dockerfile.api
  chart/kubeseal-webgui/templates/deployment.yaml
  kind-setup.sh
Due: none

Update kubeseal binary to 0.24.4
  Dockerfile.api
  README.md
Due: none

Update python deps
  api/poetry.lock
Due: pyupgrade

Update chart
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

Add new helm chart version 5.1.4
  index.yaml
  kubeseal-webgui-5.1.4.tgz
Due: none

Update NOTICE
  NOTICE
Due: none

Update deps and kubeseal binary
  Dockerfile.api
  api/poetry.lock
  api/pyproject.toml
  ui/package-lock.json
Due: pyupgrade

Update api image os when building image
  Dockerfile.api
Due: none

applied suggestions and poetry update
  Dockerfile.api
  api/poetry.lock
Due: pyupgrade

Fix Dockerfile
  Dockerfile.api
  ui/package-lock.json
Due: none

Update deps and kubeseal binary (#237)
  Dockerfile.api
  api/poetry.lock
  api/pyproject.toml
  ui/package-lock.json
Due: pyupgrade

Update Helm-Chart
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/values.yaml
Due: none

Add kubeseal webgui chart 5.1.5
  index.yaml
  kubeseal-webgui-5.1.5.tgz
Due: none

Add multi environment support
  ui/public/config.json
  ui/src/components/Secrets.vue
Due: none

Add toggle for enable/disable TLS in OpenShift Route
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/templates/clusterrole.yaml
  chart/kubeseal-webgui/templates/clusterrolebinding.yaml
  chart/kubeseal-webgui/templates/deployment.yaml
  chart/kubeseal-webgui/templates/route-ui.yaml
  chart/kubeseal-webgui/templates/serviceaccount.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

Bump version in README
  README.md
Due: none

Update kubeseal version to 0.25.0
  Dockerfile.api
Due: none

Update python dependencies
  api/poetry.lock
Due: pyupgrade

Update npm dependencies
  ui/package-lock.json
  ui/package.json
Due: none

Improve ui
  ui/public/config.json
  ui/src/components/Secrets.vue
Due: none

new style of vuetify components
  ui/src/components/Secrets.vue
Due: none

Improve ui styling
  ui/src/components/Secrets.vue
Due: none

Add origin url to cors allowed origins when set the env var.
  .gitignore
  .vscode/settings.json
  api/kubeseal_webgui_api/app.py
  api/kubeseal_webgui_api/app_config.py
Due: isort, pyupgrade, black, flake8, tests

Dependency updates for kubeseal, python deps and npm deps (#243)
  Dockerfile.api
  README.md
  api/poetry.lock
  ui/package-lock.json
  ui/package.json
Due: pyupgrade

Update chart/kubeseal-webgui/values.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

Change order of service account name rendering
  chart/kubeseal-webgui/templates/deployment.yaml
Due: none

Update deployment.yaml
  chart/kubeseal-webgui/templates/deployment.yaml
Due: none

Helm Chart Improvements (#242)
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/templates/clusterrole.yaml
  chart/kubeseal-webgui/templates/clusterrolebinding.yaml
  chart/kubeseal-webgui/templates/deployment.yaml
  chart/kubeseal-webgui/templates/route-ui.yaml
  chart/kubeseal-webgui/templates/serviceaccount.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

Update ui/src/components/Secrets.vue
  ui/src/components/Secrets.vue
Due: none

Applied ui suggestions
  ui/public/config.json
  ui/src/components/Secrets.vue
Due: none

Applied suggestions
  api/kubeseal_webgui_api/app.py
  api/kubeseal_webgui_api/app_config.py
Due: isort, pyupgrade, black, flake8, tests

Applied suggestions
  ui/public/config.json
Due: none
