Repository Jaydee94/kubeseal-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        exclude: ^chart/kubeseal-webgui/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #   - id: pydocstyle
  #  - repo: https://github.com/PyCQA/prospector
  #rev: 1.5.1
  #hooks:
  #- id: prospector
  #args: ["--zero-exit"]
  - repo: local
    hooks:
      # - id: mypy
      #   name: mypy
      #   entry: bash -c 'cd api && poetry run mypy kubeseal-webgui-api'
      #   language: system
      - id: isort
        name: isort (python)
        args: ["--profile", "black"]
        entry: bash -c 'cd api && poetry run isort'
        language: system
        types: [python]
        files: ^api/
      - id: pyupgrade
        name: pyupgrade
        entry: bash -c 'cd api && poetry run pyupgrade'
        language: system
        files: ^api/
      - id: black
        name: black
        language: system
        entry: bash -c 'cd api && poetry run black .'
        types: [python]
        files: ^api/
      - id: flake8
        name: flake8
        entry: bash -c 'cd api && poetry run flake8 --max-line-length=88 kubeseal_webgui_api'
        language: system
        types: [python]
        files: ^api/
      - id: tests
        name: run test suite
        entry: bash -c 'cd api && poetry install && poetry run pytest -m "not (container or cluster)"'
        language: system
        types: [python]
        pass_filenames: false
        files: ^api/
        # stages: [push]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v8.25.0" # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]

style(ui): refresh frontend with developer-tool design system
  ui/index.html
  ui/package-lock.json
  ui/package.json
  ui/src/App.vue
  ui/src/assets/styles.css
  ui/src/components/AppConfig.vue
  ui/src/components/AppLogo.vue
  ui/src/components/DarkMode.vue
  ui/src/components/SealedSecretCard.vue
  ui/src/components/SecretFormInputs.vue
  ui/src/components/SecretInput.vue
  ui/src/components/SecretKeyCard.vue
  ui/src/components/Secrets.vue
  ui/src/main.js
Due: none

fix(ui): address PR review comments
  ui/src/components/AppLogo.vue
  ui/src/components/SecretInput.vue
Due: none

fix(ui): restore copy buttons for rendered sealed secrets over HTTP
  ui/src/components/Secrets.vue
Due: none

fix(ui): restore copy buttons for rendered sealed secrets over HTTP (#310)
  ui/src/components/Secrets.vue
Due: none

fix(api): work around kubernetes-client v36 Bearer token key mismatch
  api/kubeseal_webgui_api/routers/kubernetes_namespace_resolver.py
  api/kubeseal_webgui_api/routers/kubernetes_sealed_secret_resolver.py
Due: isort, pyupgrade, black, flake8, tests

refactor(api): extract _fix_incluster_bearer_token to shared kubernetes_utils module
  api/kubeseal_webgui_api/routers/kubernetes_namespace_resolver.py
  api/kubeseal_webgui_api/routers/kubernetes_sealed_secret_resolver.py
  api/kubeseal_webgui_api/routers/kubernetes_utils.py
Due: isort, pyupgrade, black, flake8, tests

fix(ci): repair kind.yaml YAML syntax error that silently killed all E2E runs
  .github/workflows/kind.yaml
Due: none

fix(api): work around kubernetes-client v36 Bearer token key mismatch (#312)
  .github/workflows/kind.yaml
  api/kubeseal_webgui_api/routers/kubernetes_namespace_resolver.py
  api/kubeseal_webgui_api/routers/kubernetes_sealed_secret_resolver.py
  api/kubeseal_webgui_api/routers/kubernetes_utils.py
Due: isort, pyupgrade, black, flake8, tests

Notes added by 'git notes add'
  4753bb0e6e4205f3d3e7a82161df0c8a224f9ea6
Due: none

chore: update dependencies to latest compatible versions
  Dockerfile.api
  api/poetry.lock
  docs/architecture.md
  ui/package-lock.json
Due: pyupgrade

fix(docker): rebuild API image on a distroless runtime to reduce CVE exposure
  .dockerignore
  .gitignore
  Dockerfile.api
  api/bin/docker-entrypoint.sh
  api/poetry.lock
  api/pyproject.toml
Due: pyupgrade

fix(docker): harden UI image (digest pinning, reproducible build, read-only fs support)
  Dockerfile.ui
  ui/hooks/50-envsubst-default-conf.sh
Due: none

feat(chart): add hardened pod/container securityContext with OpenShift opt-out
  chart/kubeseal-webgui/templates/deployment.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

ci: add Renovate config for automated digest and dependency updates
  renovate.json
Due: none

ci: enforce a CRITICAL-severity Trivy scan gate
  .github/workflows/container-security-scan.yml
  .trivyignore.api
  .trivyignore.ui
Due: none

fix(ci): update sealed-secrets references after the bitnami-labs org rename
  .github/workflows/kind.yaml
  api/README.md
Due: pyupgrade

chore(deps): update npm and poetry dependencies to latest compatible versions
  api/poetry.lock
  ui/package-lock.json
Due: pyupgrade

docs: update architecture, configuration, and troubleshooting docs
  README.md
  docs/architecture.md
  docs/configuration.md
  docs/development.md
  docs/installation.md
  docs/superpowers/plans/2026-08-26-container-hardening.md
  docs/troubleshooting.md
Due: none

fix(ci): pin conventional-changelog-conventionalcommits to a compatible version
  .github/workflows/semantic-release.yml
Due: none

Notes added by 'git notes add'
  d77f2c98603a0fede0d0d7352a510ffeaf312ddb
Due: none

fix(ci): add workflow_dispatch to the ghcr-build workflow
  .github/workflows/ghcr-build.yml
Due: none
