Repository Jaydee94/kubeseal-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, tests

isort:
  name: isort (python)
  args:
  - --profile
  - black
  entry: bash -c 'cd api && poetry run isort'
  language: system

pyupgrade:
  name: pyupgrade
  entry: bash -c 'cd api && poetry run pyupgrade'
  language: system

black:
  name: black
  language: system
  entry: bash -c 'cd api && poetry run black .'

flake8:
  name: flake8
  entry: bash -c 'cd api && poetry run flake8 --max-line-length=88 kubeseal_webgui_api'
  language: system

tests:
  name: run test suite
  entry: bash -c 'cd api && poetry install && poetry run pytest -m "not (container or cluster)"'
  language: system
  pass_filenames: false

feat: Redesign of the ui for a modern look
  README.md
  api/kubeseal_webgui_api/routers/kubeseal.py
  demo/kubeseal-webgui-logo-2025.png
  ui/.eslintrc.cjs
  ui/eslint.config.js
  ui/index.html
  ui/package-lock.json
  ui/package.json
  ui/src/App.vue
  ui/src/assets/kubeseal-webgui-logo-2025.png
  ui/src/assets/logo-2025.png
  ui/src/assets/styles.css
  ui/src/components/AppConfig.vue
  ui/src/components/AppLogo.vue
  ui/src/components/DarkMode.vue
  ui/src/components/Logo.vue
  ui/src/components/SealedSecretCard.vue
  ui/src/components/SecretFormInputs.vue
  ui/src/components/SecretInput.vue
  ui/src/components/SecretKeyCard.vue
  ui/src/components/Secrets.vue
  ui/src/components/SecretsList.vue
  ui/src/components/SecretsResults.vue
  ui/src/composables/useConfig.js
  ui/src/composables/useSecrets.js
  ui/src/main.js
  ui/src/utils/mockData.js
  ui/vite.config.mjs
Due: isort, pyupgrade, black, flake8, tests

feat: Initialize new UI project with Vite, update UI tests for title and list item selection, and adjust SecretFormInputs layout.
  ui/package.json
  ui/src/components/SecretFormInputs.vue
  ui/tests/test_ui.py
Due: none

feat: Update demo GIF to version 4.6.0
  README.md
  demo/kubeseal-webgui-demo-4.6.0.gif
Due: none

feat: Redesign of the ui for a modern look (#287)
  README.md
  api/kubeseal_webgui_api/routers/kubeseal.py
  demo/kubeseal-webgui-demo-4.6.0.gif
  demo/kubeseal-webgui-logo-2025.png
  ui/.eslintrc.cjs
  ui/eslint.config.js
  ui/index.html
  ui/package-lock.json
  ui/package.json
  ui/src/App.vue
  ui/src/assets/kubeseal-webgui-logo-2025.png
  ui/src/assets/logo-2025.png
  ui/src/assets/styles.css
  ui/src/components/AppConfig.vue
  ui/src/components/AppLogo.vue
  ui/src/components/DarkMode.vue
  ui/src/components/Logo.vue
  ui/src/components/SealedSecretCard.vue
  ui/src/components/SecretFormInputs.vue
  ui/src/components/SecretInput.vue
  ui/src/components/SecretKeyCard.vue
  ui/src/components/Secrets.vue
  ui/src/components/SecretsList.vue
  ui/src/components/SecretsResults.vue
  ui/src/composables/useConfig.js
  ui/src/composables/useSecrets.js
  ui/src/main.js
  ui/src/utils/mockData.js
  ui/tests/test_ui.py
  ui/vite.config.mjs
Due: isort, pyupgrade, black, flake8, tests

chore: Update GitHub Actions versions and refactor Helm chart release workflow to use OCI with tag-based triggers.
  .github/workflows/codeql-analysis.yml
  .github/workflows/ghcr-build.yml
  .github/workflows/helm-release.yml
  .github/workflows/main.yml
  .github/workflows/typo.yml
Due: none

docs: Update Helm chart installation instructions to use OCI artifacts from GHCR.
  README.md
  chart/kubeseal-webgui/README.md
Due: none

ci: Add semantic release configuration and workflow.
  .github/workflows/semantic-release.yml
  .releaserc
Due: none

deps: update anyio, cachetools, and coverage to newer versions.
  api/poetry.lock
Due: pyupgrade

chore: update dependency lockfile
  ui/package-lock.json
Due: none

chore: Update default branch references from `main` to `master`.
  .github/workflows/helm-release.yml
  .releaserc
Due: none

ci: fix sematic release branch to master
  .github/workflows/helm-release.yml
  .releaserc
Due: none

ci: add conventional commits plugin and tag format to semantic release configuration
  .github/workflows/semantic-release.yml
  .releaserc
Due: none

ci: configure semantic-release to trigger patch releases for chore and deps commit types.
  .releaserc
Due: none

Notes added by 'git notes add'
  e7a8628e8d3751fd95d0ecef677d4a401560fb24
Due: none

fix: Trigger Helm release workflow on successful Semantic Release and dynamically fetch the latest tag for versioning.
  .github/workflows/helm-release.yml
Due: none

Notes added by 'git notes add'
  3f5c2d9ef8fc5b98552e5a6a1b007089a9cbfabf
Due: none

ci: Reconfigure Helm release workflow to trigger on tag pushes and directly set chart versions, and update semantic release to use a dedicated token.
  .github/workflows/helm-release.yml
  .github/workflows/semantic-release.yml
Due: none

ci: Pass `SEMANTIC_RELEASE_TOKEN` to checkout action.
  .github/workflows/semantic-release.yml
Due: none

Notes added by 'git notes add'
  981a8422223f2be8ee82c6c8349da0dc9aa3f339
Due: none

ci: make Helm release workflow version extraction robust for tags without 'v' prefix.
  .github/workflows/helm-release.yml
Due: none

Notes added by 'git notes add'
  083c999a2c35a61c9e1e701baae170bfeb18c4bb
Due: none

ci: Automate Helm chart version bumping, update image tags, and commit version changes back to the repository.
  .github/workflows/helm-release.yml
Due: none

Notes added by 'git notes add'
  5a931d9c0aa982f516df3a9ad7bb0e35b49a0a54
Due: none

feat: add IPv6 support for EKS IPv6-only clusters
  Dockerfile.api
  chart/kubeseal-webgui/templates/deployment.yaml
  chart/kubeseal-webgui/values.yaml
  ui/nginx-default.conf
Due: none

revert: remove chart changes per maintainer request
  chart/kubeseal-webgui/templates/deployment.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

fix(ci): enable dual stack binding on API and verify IPv6 in E2E
  .github/workflows/kind.yaml
  Dockerfile.api
  kind-config.yaml
  kind-setup.sh
Due: none

Notes added by 'git notes add'
  0437d045da151791d72f8650b53d4eacd3b42d1a
Due: none

chore: Update Python dependencies
  api/poetry.lock
Due: pyupgrade

refactor: Migrate to ES modules and update ESLint configuration to ignore additional directories.
  ui/eslint.config.js
  ui/package-lock.json
  ui/package.json
Due: none

build: Upgrade Kubeseal, FastAPI, and Starlette versions, and update Docker base images.
  Dockerfile.api
  Dockerfile.ui
  api/poetry.lock
  api/pyproject.toml
Due: pyupgrade

Notes added by 'git notes add'
  19a5cfe32306ac172fd215e2acf9296af932104c
Due: none

refactor: remove unused pre commit configs
  .pre-commit-config.yaml
  api/.pre-commit-config.yaml
Due: pyupgrade

feat: Update KubeSeal version, upgrade Vuetify to v4, and refresh UI and API dependencies.
  Dockerfile.api
  api/poetry.lock
  ui/eslint.config.js
  ui/package-lock.json
  ui/package.json
Due: pyupgrade

Notes added by 'git notes add'
  c0639ecb24e541522eb9427af058481335c3c421
Due: none

ci: add Trivy container security scan workflow (#296)
  .github/workflows/container-security-scan.yml
Due: none

Path conditions:
  isort: any of: ^api/ and \.py$
  pyupgrade: any of: ^api/
  black: any of: ^api/ and \.py$
  flake8: any of: ^api/ and \.py$
  tests: any of: ^api/ and \.py$
