Repository Jaydee94/kubeseal-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        exclude: ^chart/kubeseal-webgui/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #   - id: pydocstyle
  #  - repo: https://github.com/PyCQA/prospector
  #rev: 1.5.1
  #hooks:
  #- id: prospector
  #args: ["--zero-exit"]
  - repo: local
    hooks:
      # - id: mypy
      #   name: mypy
      #   entry: bash -c 'cd api && poetry run mypy kubeseal-webgui-api'
      #   language: system
      - id: isort
        name: isort (python)
        args: ["--profile", "black"]
        entry: bash -c 'cd api && poetry run isort'
        language: system
        types: [python]
        files: ^api/
      - id: pyupgrade
        name: pyupgrade
        entry: bash -c 'cd api && poetry run pyupgrade'
        language: system
        files: ^api/
      - id: black
        name: black
        language: system
        entry: bash -c 'cd api && poetry run black .'
        types: [python]
        files: ^api/
      - id: flake8
        name: flake8
        entry: bash -c 'cd api && poetry run flake8 --max-line-length=88 kubeseal_webgui_api'
        language: system
        types: [python]
        files: ^api/
      - id: tests
        name: run test suite
        entry: bash -c 'cd api && poetry install && poetry run pytest -m "not (container or cluster)"'
        language: system
        types: [python]
        pass_filenames: false
        files: ^api/
        # stages: [push]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v8.25.0" # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]

Update README.md
  chart/kubeseal-webgui/README.md
Due: none

Use proper models for the api provided by fastapi
  api/kubeseal_webgui_api/routers/config.py
  api/kubeseal_webgui_api/routers/kubernetes.py
  api/kubeseal_webgui_api/routers/kubeseal.py
  api/kubeseal_webgui_api/routers/models.py
  api/tests/test_kubeseal_service.py
  api/tests/test_run_kubeseal.py
  ui/nginx-default.conf
Due: isort, pyupgrade, black, flake8, tests

Add openapi.json to nginx-config
  ui/nginx-default.conf
Due: none

Update python to 3.10 and update kubeseal binary.
  Dockerfile.api
Due: none

Update ReadMe
  README.md
Due: none

Update python dependencies to the latest versions.
  api/poetry.lock
  api/pyproject.toml
Due: pyupgrade

Update npm dependecies with npm audit fix
  ui/package-lock.json
Due: none

Apply alpine security patches in image build.
  Dockerfile.ui
Due: none

Update kind.yaml
  .github/workflows/kind.yaml
Due: none

Update image versions in helm chart
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

add .dockerignore file
  .dockerignore
  .gitignore
Due: none

update readme
  README.md
Due: none

update node dependencies
  ui/package-lock.json
  ui/package.json
Due: none

Add eslint and prettier for automatic formatting in vscode
  ui/package-lock.json
  ui/package.json
Due: none

Reformat with eslint and prettier
  ui/src/components/Secrets.vue
Due: none

use v-footer instead of v-container
  ui/src/components/AppConfig.vue
Due: none

add .dockerignore file (#207)
  .dockerignore
  .gitignore
Due: none

Update deps (#205)
  Dockerfile.api
  Dockerfile.ui
  README.md
  api/poetry.lock
  api/pyproject.toml
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/values.yaml
  ui/package-lock.json
  ui/package.json
  ui/src/components/AppConfig.vue
  ui/src/components/Secrets.vue
Due: pyupgrade

add support for alternative namespace providers
  api/README.md
  api/kubeseal_webgui_api/app_config.py
  api/kubeseal_webgui_api/internal/__init__.py
  api/kubeseal_webgui_api/internal/incluster_core_client.py
  api/kubeseal_webgui_api/internal/kubernetes_namespace_resolver.py
  api/kubeseal_webgui_api/internal/kubernetes_resource_namespace_resolver.py
  api/kubeseal_webgui_api/internal/mock_core_client.py
  api/kubeseal_webgui_api/routers/kubernetes.py
  api/kubeseal_webgui_api/routers/kubernetes_namespace_resolver.py
  api/kubeseal_webgui_api/routers/mock_namespace_resolver.py
  docker-compose.yml
Due: isort, pyupgrade, black, flake8, tests

Update kubeseal binary to 0.20.2
  Dockerfile.api
  README.md
Due: none

Update python deps
  api/poetry.lock
Due: pyupgrade

Update kubeseal binary to 0.20.2 (#208)
  Dockerfile.api
  README.md
  api/poetry.lock
Due: pyupgrade

Update npm and python deps
  api/poetry.lock
  ui/package-lock.json
Due: pyupgrade

Update npm and python deps (#209)
  api/poetry.lock
  ui/package-lock.json
Due: pyupgrade

new helm chart version 5.1.1
  chart/kubeseal-webgui/Chart.yaml
Due: none

new Chart version 5.1.1
  index.yaml
  kubeseal-webgui-5.1.1.tgz
Due: none

make route optional
  chart/kubeseal-webgui/templates/route-ui.yaml
Due: none

Update route-ui.yaml
  chart/kubeseal-webgui/templates/route-ui.yaml
Due: none

make route hostname optional (#210)
  chart/kubeseal-webgui/templates/route-ui.yaml
Due: none

Update kubeseal binary to 0.20.5
  Dockerfile.api
Due: none

Update npm deps
  ui/package-lock.json
  ui/package.json
Due: none

Update deps (#211)
  Dockerfile.api
  api/poetry.lock
  ui/package-lock.json
  ui/package.json
Due: pyupgrade

update chart version and image versions
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/values.yaml
Due: none

add new chart 5.1.2
  index.yaml
  kubeseal-webgui-5.1.2.tgz
Due: none

Update README.md
  README.md
Due: none

API: refactor webapp to make use of FastAPI dependecy injection
  .github/workflows/kind.yaml
  Dockerfile.api
  api/kubeseal_webgui_api/app.py
  api/kubeseal_webgui_api/app_config.py
  api/kubeseal_webgui_api/dependencies.py
  api/kubeseal_webgui_api/internal/__init__.py
  api/kubeseal_webgui_api/internal/kubernetes_client.py
  api/kubeseal_webgui_api/internal/kubeseal_client.py
  api/kubeseal_webgui_api/routers/config.py
  api/kubeseal_webgui_api/routers/kubernetes.py
  api/kubeseal_webgui_api/routers/kubernetes_namespace_resolver.py
  api/kubeseal_webgui_api/routers/kubeseal.py
  api/kubeseal_webgui_api/routers/mock_namespace_resolver.py
  api/kubeseal_webgui_api/routers/models.py
  api/tests/internal/test_kubernetes_client.py
  api/tests/internal/test_kubeseal_client.py
  api/tests/models/test_scope.py
  api/tests/models/test_secret.py
  api/tests/models/test_utils.py
  api/tests/routers/test_config.py
  api/tests/routers/test_kubernetes.py
  api/tests/routers/test_kubeseal.py
  api/tests/test_kubernetes_service.py
  api/tests/test_run_kubeseal.py
  docker-compose.yml
  kind-setup.sh
Due: isort, pyupgrade, black, flake8, tests
