Repository Jaydee94/kubeseal-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, tests

isort:
  name: isort (python)
  args:
  - --profile
  - black
  entry: bash -c 'cd api && poetry run isort'
  language: system

pyupgrade:
  name: pyupgrade
  entry: bash -c 'cd api && poetry run pyupgrade'
  language: system

black:
  name: black
  language: system
  entry: bash -c 'cd api && poetry run black .'

flake8:
  name: flake8
  entry: bash -c 'cd api && poetry run flake8 --max-line-length=88 kubeseal_webgui_api'
  language: system

tests:
  name: run test suite
  entry: bash -c 'cd api && poetry install && poetry run pytest -m "not (container or cluster)"'
  language: system
  pass_filenames: false

new helm release 4.0.3
  index.yaml
  kubeseal-webgui-4.0.3.tgz
Due: none

Update README.md
  README.md
Due: none

Update README.md
  chart/kubeseal-webgui/README.md
Due: none

Fix indentation in deployment and bump chart version to 4.0.4
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/templates/deployment.yaml
Due: none

New chart version 4.0.4
  index.yaml
  kubeseal-webgui-4.0.4.tgz
Due: none

Update datree-validation.yml
  .github/workflows/datree-validation.yml
Due: none

Change docs for helm setup
  chart/kubeseal-webgui/README.md
Due: none

Let cluster marked tests run without failing
  api/kubeseal_webgui_api/routers/kubeseal.py
  api/tests/test_kubeseal_service.py
  api/tests/test_run_kubeseal.py
Due: isort, pyupgrade, black, flake8, tests

Only render resources, if they are truthy
  chart/kubeseal-webgui/templates/deployment.yaml
Due: none

Add workflow to setup a kind k8s cluster and do a minimal e2e test
  .github/workflows/kind.yaml
  kind-config.yaml
  kind-setup.sh
Due: none

Show single keys even when clipboard is not available
  ui/src/components/Secrets.vue
Due: none

Div fixes (#194)
  .github/workflows/kind.yaml
  api/kubeseal_webgui_api/routers/kubeseal.py
  api/tests/test_kubeseal_service.py
  api/tests/test_run_kubeseal.py
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/templates/deployment.yaml
  kind-config.yaml
  kind-setup.sh
  ui/src/components/Secrets.vue
Due: isort, pyupgrade, black, flake8, tests

Delete datree-validation.yml
  .github/workflows/datree-validation.yml
Due: none

Run apt-get upgrade and clean on container build of api
  Dockerfile.api
Due: none

Run apt-get upgrade and clean on container build of api (#195)
  Dockerfile.api
Due: none

Fetch the sealed secrets cert as startup event
  README.md
  api/bin/kubeseal-fetch.sh
  api/kubeseal_webgui_api/app.py
  api/kubeseal_webgui_api/app_config.py
  api/kubeseal_webgui_api/main.py
  api/kubeseal_webgui_api/routers/config.py
  api/kubeseal_webgui_api/routers/kubernetes.py
  api/kubeseal_webgui_api/routers/kubernetes_namespace_resolver.py
  api/kubeseal_webgui_api/routers/kubeseal.py
  api/poetry.lock
  api/pyproject.toml
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/templates/deployment.yaml
Due: isort, pyupgrade, black, flake8, tests

fix if statement
  api/kubeseal_webgui_api/app_config.py
Due: isort, pyupgrade, black, flake8, tests

Remove unused helm variables
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/values.yaml
Due: none

use own logger for kubeseal-webgui
  Dockerfile.api
  api/kubeseal_webgui_api/app.py
  api/kubeseal_webgui_api/app_config.py
  api/kubeseal_webgui_api/routers/config.py
  api/kubeseal_webgui_api/routers/kubernetes.py
  api/kubeseal_webgui_api/routers/kubernetes_namespace_resolver.py
  api/kubeseal_webgui_api/routers/kubeseal.py
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/templates/configmap.yaml
  chart/kubeseal-webgui/templates/deployment.yaml
  chart/kubeseal-webgui/values.yaml
  ui/package-lock.json
Due: isort, pyupgrade, black, flake8, tests

Add logging_config.yaml
  api/config/logging_config.yaml
  chart/kubeseal-webgui/files/logging_config.yaml
Due: pyupgrade

Fetch the sealed secrets cert as startup event (#196)
  Dockerfile.api
  README.md
  api/bin/kubeseal-fetch.sh
  api/config/logging_config.yaml
  api/kubeseal_webgui_api/app.py
  api/kubeseal_webgui_api/app_config.py
  api/kubeseal_webgui_api/main.py
  api/kubeseal_webgui_api/routers/kubernetes.py
  api/kubeseal_webgui_api/routers/kubernetes_namespace_resolver.py
  api/kubeseal_webgui_api/routers/kubeseal.py
  api/poetry.lock
  api/pyproject.toml
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/files/logging_config.yaml
  chart/kubeseal-webgui/templates/configmap.yaml
  chart/kubeseal-webgui/templates/deployment.yaml
  chart/kubeseal-webgui/values.yaml
  ui/package-lock.json
Due: isort, pyupgrade, black, flake8, tests

Update kubeseal binary to 0.19.3
  Dockerfile.api
Due: none

New helm release 5.0.0
  index.yaml
  kubeseal-webgui-5.0.0.tgz
Due: none

Add example of annotation for non-strict scoped secrets
  ui/src/components/Secrets.vue
Due: none

Add port and poetry to command example to start local server
  README.md
Due: none

Extend github action for e2e to test secrets in kind
  .github/workflows/kind.yaml
Due: none

Change local kind test to https and test secrets
  kind-setup.sh
Due: none

Update mypy to 0.991
  api/poetry.lock
  api/pyproject.toml
Due: pyupgrade

Space-police
  README.md
Due: none

Add logging setup to local api mock example
  README.md
Due: none

Use quotes to disable word splitting
  kind-setup.sh
Due: none

Handle binary files correctly
  api/kubeseal_webgui_api/routers/kubeseal.py
  api/tests/test_run_kubeseal.py
  ui/src/components/Secrets.vue
Due: isort, pyupgrade, black, flake8, tests

Enable binary files (#202)
  api/kubeseal_webgui_api/routers/kubeseal.py
  api/tests/test_run_kubeseal.py
  kind-setup.sh
  ui/src/components/Secrets.vue
Due: isort, pyupgrade, black, flake8, tests

Update Version to 4.2.0
  api/pyproject.toml
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/values.yaml
Due: pyupgrade

New Chart version 5.1.0
  index.yaml
  kubeseal-webgui-5.1.0.tgz
Due: none

Path conditions:
  isort: any of: ^api/ and \.py$
  pyupgrade: any of: ^api/
  black: any of: ^api/ and \.py$
  flake8: any of: ^api/ and \.py$
  tests: any of: ^api/ and \.py$
