Repository Jaydee94/kubeseal-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, tests

isort:
  name: isort (python)
  args:
  - --profile
  - black
  entry: bash -c 'cd api && poetry run isort'
  language: system

pyupgrade:
  name: pyupgrade
  entry: bash -c 'cd api && poetry run pyupgrade'
  language: system

black:
  name: black
  language: system
  entry: bash -c 'cd api && poetry run black .'

flake8:
  name: flake8
  entry: bash -c 'cd api && poetry run flake8 --max-line-length=88 kubeseal_webgui_api'
  language: system

tests:
  name: run test suite
  entry: bash -c 'cd api && poetry install && poetry run pytest -m "not (container or cluster)"'
  language: system
  pass_filenames: false

chore: optimal versioning scheme to track latest Python packages (#297)
  api/poetry.lock
  api/pyproject.toml
Due: pyupgrade

Notes added by 'git notes add'
  39a678c8c7a58b66704d637480b2b3fe2c81be75
Due: none

ci: Fix unresolved Trivy action reference in container security workflow (#299)
  .github/workflows/container-security-scan.yml
  ui/package-lock.json
Due: none

feat(ui): add multi-tenant environment selector and multi-namespace support
  ui/public/config.json
  ui/src/components/SealedSecretCard.vue
  ui/src/components/SecretFormInputs.vue
  ui/src/components/Secrets.vue
  ui/src/components/SecretsResults.vue
  ui/src/composables/useSecrets.js
Due: none

feat(api): add dynamic CORS origin support
  api/kubeseal_webgui_api/app.py
  api/kubeseal_webgui_api/app_config.py
Due: isort, pyupgrade, black, flake8, tests

feat(chart): add multi-environment Helm chart support
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/templates/configmap.yaml
  chart/kubeseal-webgui/templates/deployment.yaml
  chart/kubeseal-webgui/templates/ingress-api.yaml
  chart/kubeseal-webgui/templates/ingress.yaml
  chart/kubeseal-webgui/templates/route-api.yaml
  chart/kubeseal-webgui/templates/route-ui.yaml
  chart/kubeseal-webgui/templates/service-api.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

refactor(ui): move environment selector beside scope in form inputs
  ui/src/components/SecretFormInputs.vue
  ui/src/components/Secrets.vue
Due: none

style(ui): add top margin between nav bar and form card
  ui/src/components/Secrets.vue
Due: none

fix(chart): fail fast when both api and ui containers are disabled
  chart/kubeseal-webgui/templates/deployment.yaml
Due: none

fix(ui): add error handling to clipboard copy in SealedSecretCard
  ui/src/components/SealedSecretCard.vue
Due: none

fix(test): update Playwright selector for multi-select namespace chips
  ui/tests/test_ui.py
Due: none

fix(chart): restore backward compatibility for legacy ingress and route values
  chart/kubeseal-webgui/templates/ingress.yaml
  chart/kubeseal-webgui/templates/route-ui.yaml
Due: none

test(e2e): add multi-cluster Playwright tests for PR #300
  ui/tests/test_ui_multi_cluster.py
Due: none

fix: address review findings in PR #303
  api/kubeseal_webgui_api/routers/kubernetes_sealed_secret_resolver.py
  api/kubeseal_webgui_api/routers/mock_sealed_secret_resolver.py
  ui/src/components/Secrets.vue
  ui/src/composables/useSecrets.js
Due: isort, pyupgrade, black, flake8, tests

test: extend kind-setup.sh to test key-import feature
  kind-setup.sh
Due: none

chore: bump all dependencies to latest stable versions
  Dockerfile.api
  api/pyproject.toml
  ui/package.json
Due: pyupgrade

chore: update lock files after dependency bumps
  api/poetry.lock
  ui/package-lock.json
Due: pyupgrade

fix: update playwright tests for 1.59 and stabilize CI dev server wait
  .github/workflows/frontend-tests.yml
  ui/tests/test_ui.py
Due: none

test: improve kind-setup.sh with unified create_sealed_secret and richer test data
  kind-setup.sh
Due: none

feat: replace clunky switch/card import UI with compact inline menu button
  ui/nginx-default.conf
  ui/src/components/Secrets.vue
  ui/src/components/SecretsList.vue
Due: none

feat: optional SealedSecret-Key-Import aus Namespace hinzufügen (#303)
  .github/workflows/frontend-tests.yml
  Dockerfile.api
  api/kubeseal_webgui_api/routers/kubernetes.py
  api/kubeseal_webgui_api/routers/kubernetes_sealed_secret_resolver.py
  api/kubeseal_webgui_api/routers/mock_sealed_secret_resolver.py
  api/kubeseal_webgui_api/routers/models.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/test_kubernetes_service.py
  chart/kubeseal-webgui/templates/clusterrole.yaml
  chart/kubeseal-webgui/templates/configmap.yaml
  chart/kubeseal-webgui/values.yaml
  kind-setup.sh
  ui/nginx-default.conf
  ui/package-lock.json
  ui/package.json
  ui/public/config.json
  ui/src/components/Secrets.vue
  ui/src/components/SecretsList.vue
  ui/src/composables/useSecrets.js
  ui/tests/test_ui.py
Due: isort, pyupgrade, black, flake8, tests

Notes added by 'git notes add'
  0be94c656f11db465e5ad81c1cbcc8232ea7ae8e
Due: none

chore: update nginx to current version 1.31
  Dockerfile.ui
Due: none

chore: update nginx to current version 1.31 (#305)
  Dockerfile.ui
Due: none

Notes added by 'git notes add'
  ebc8740344b50c0a6a1c62d8980e99a79b7e3dde
Due: none

feat: add optional imagePullSecrets support to helm chart
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/templates/deployment.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

chore: bump helm version
  chart/kubeseal-webgui/Chart.yaml
Due: none

ci: stabilize e2e test wait step
  .github/workflows/kind.yaml
Due: none

ci: split deployment wait, add failure diagnostics
  .github/workflows/kind.yaml
Due: none

ci: harden e2e and frontend test workflows
  .github/workflows/frontend-tests.yml
  .github/workflows/kind.yaml
Due: none

ci(e2e): better diagnostics, log curl response codes
  .github/workflows/kind.yaml
Due: none

ci(playwright): rerun flaky tests, install browser deps
  .github/workflows/frontend-tests.yml
Due: none

ci(e2e): persist debug output as artifact and step summary
  .github/workflows/kind.yaml
Due: none

ci(e2e): post debug log as PR comment on failure
  .github/workflows/kind.yaml
Due: none

ci(e2e): dump SA/CRB and probe in-pod auth on failure
  .github/workflows/kind.yaml
Due: none

ci: stabilize e2e test wait step (#307)
  .github/workflows/frontend-tests.yml
  .github/workflows/kind.yaml
Due: none

feat: add optional imagePullSecrets support to helm chart (#306)
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/templates/deployment.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

Notes added by 'git notes add'
  7ca1bfb90c93280ac2f45f2b97f3657575a6deb1
Due: none

docs: restructure documentation into docs/ folder
  CONTRIBUTING.md
  README.md
  api/README.md
  chart/kubeseal-webgui/README.md
  docs/architecture.md
  docs/configuration.md
  docs/development.md
  docs/installation.md
  docs/troubleshooting.md
  ui/README.md
Due: pyupgrade

docs: restructure documentation into docs/ folder (#308)
  CONTRIBUTING.md
  README.md
  api/README.md
  chart/kubeseal-webgui/README.md
  docs/architecture.md
  docs/configuration.md
  docs/development.md
  docs/installation.md
  docs/troubleshooting.md
  ui/README.md
Due: pyupgrade

Path conditions:
  isort: any of: ^api/ and \.py$
  pyupgrade: any of: ^api/
  black: any of: ^api/ and \.py$
  flake8: any of: ^api/ and \.py$
  tests: any of: ^api/ and \.py$
