Repository Jaydee94/kubeseal-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        exclude: ^chart/kubeseal-webgui/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #   - id: pydocstyle
  #  - repo: https://github.com/PyCQA/prospector
  #rev: 1.5.1
  #hooks:
  #- id: prospector
  #args: ["--zero-exit"]
  - repo: local
    hooks:
      # - id: mypy
      #   name: mypy
      #   entry: bash -c 'cd api && poetry run mypy kubeseal-webgui-api'
      #   language: system
      - id: isort
        name: isort (python)
        args: ["--profile", "black"]
        entry: bash -c 'cd api && poetry run isort'
        language: system
        types: [python]
        files: ^api/
      - id: pyupgrade
        name: pyupgrade
        entry: bash -c 'cd api && poetry run pyupgrade'
        language: system
        files: ^api/
      - id: black
        name: black
        language: system
        entry: bash -c 'cd api && poetry run black .'
        types: [python]
        files: ^api/
      - id: flake8
        name: flake8
        entry: bash -c 'cd api && poetry run flake8 --max-line-length=88 kubeseal_webgui_api'
        language: system
        types: [python]
        files: ^api/
      - id: tests
        name: run test suite
        entry: bash -c 'cd api && poetry install && poetry run pytest -m "not (container or cluster)"'
        language: system
        types: [python]
        pass_filenames: false
        files: ^api/
        # stages: [push]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v8.25.0" # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]

feat: Mark favorite namespaces (#263)
  ui/src/components/Secrets.vue
  ui/tests/test_ui.py
Due: none

feat: Improve ui styling
  ui/src/components/AppConfig.vue
  ui/src/components/Secrets.vue
Due: none

feat: Improve ui styling (#262)
  ui/src/components/AppConfig.vue
  ui/src/components/Secrets.vue
Due: none

Update demo gif
  README.md
  api/poetry.lock
  api/pyproject.toml
  demo/kubseal-demo-4.4.0.gif
  ui/package.json
Due: pyupgrade

Bump version in helm chart to 4.4.0
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/values.yaml
Due: none

Add chart version 5.2.3
  index.yaml
  kubeseal-webgui-5.2.3.tgz
Due: none

fix: fix UI regression in rendered secret
  ui/src/components/Secrets.vue
Due: none

fix: fix UI regression in rendered secret (#264)
  ui/src/components/Secrets.vue
Due: none

fix: hide info box when all required fields are filled
  ui/src/components/Secrets.vue
Due: none

fix: hide info box when all required fields are filled (#265)
  ui/src/components/Secrets.vue
Due: none

feat: differentiate between clean and edit when returning from sealed secrets
  ui/src/components/Secrets.vue
Due: none

feat: differentiate between clean and edit when returning from sealed secrets (#266)
  ui/src/components/Secrets.vue
Due: none

Bump versions to 4.4.1
  api/pyproject.toml
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  dev/bump_version.sh
  ui/package.json
Due: pyupgrade

Add helm chart version 5.2.4
  index.yaml
  kubeseal-webgui-5.2.4.tgz
Due: none

Add Multiarch Support to build ARM images.
  Dockerfile.api
  Dockerfile.ui
  api/poetry.lock
  ui/package-lock.json
  ui/package.json
  ui/vite.config.mjs
Due: pyupgrade

Configure pipeline for arm64 builds
  .github/workflows/ghcr-build.yml
  api/pyproject.toml
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/values.yaml
  ui/package-lock.json
  ui/package.json
Due: pyupgrade

Update .github/workflows/ghcr-build.yml
  .github/workflows/ghcr-build.yml
Due: none

Add arm64 support (#267)
  .github/workflows/ghcr-build.yml
  Dockerfile.api
  Dockerfile.ui
  api/poetry.lock
  api/pyproject.toml
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/values.yaml
  ui/package-lock.json
  ui/package.json
  ui/vite.config.mjs
Due: pyupgrade

Remove CPU Limits from default values.
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/values.yaml
Due: none

Remove CPU Limits from default values. (#268)
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/values.yaml
Due: none

Use images from GHCR instaed of DockerHub
  .github/workflows/ghcr-build.yml
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/values.yaml
Due: none

corrected build pipeline
  .github/workflows/ghcr-build.yml
  chart/kubeseal-webgui/README.md
Due: none

Correted image tag
  .github/workflows/ghcr-build.yml
Due: none

Corrected the end-to-end test to use correct image names
  .github/workflows/kind.yaml
Due: none

Build images on pr updates
  .github/workflows/ghcr-build.yml
Due: none

Build images on pr updates
  .github/workflows/kind.yaml
Due: none

update ghcr build
  .github/workflows/ghcr-build.yml
Due: none

Use images from GHCR instead of DockerHub (#269)
  .github/workflows/ghcr-build.yml
  .github/workflows/kind.yaml
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/values.yaml
Due: none

Add helm chart version 6.0.0
  index.yaml
  kubeseal-webgui-6.0.0.tgz
Due: none

Add Metrics endpoint for the api to track encrypted secrets count and latency
  api/kubeseal_webgui_api/app.py
  api/kubeseal_webgui_api/routers/kubeseal.py
  api/poetry.lock
  api/pyproject.toml
Due: isort, pyupgrade, black, flake8, tests

Use opentelemetry to generate the metrics
  api/kubeseal_webgui_api/app.py
  api/kubeseal_webgui_api/routers/kubeseal.py
  api/poetry.lock
  api/pyproject.toml
Due: isort, pyupgrade, black, flake8, tests

fix: get sealed secret from correct element when filling the clipboard
  ui/src/components/Secrets.vue
Due: none

chore: update node packages
  ui/package-lock.json
Due: none

fix: get sealed secret from correct element when filling the clipboard (#273)
  ui/src/components/Secrets.vue
Due: none

Update dependencies via poetry update
  api/poetry.lock
Due: pyupgrade

Update dependencies via poetry update (#274)
  api/poetry.lock
Due: pyupgrade
