Repository Jaydee94/kubeseal-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        exclude: ^chart/kubeseal-webgui/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #   - id: pydocstyle
  #  - repo: https://github.com/PyCQA/prospector
  #rev: 1.5.1
  #hooks:
  #- id: prospector
  #args: ["--zero-exit"]
  - repo: local
    hooks:
      # - id: mypy
      #   name: mypy
      #   entry: bash -c 'cd api && poetry run mypy kubeseal-webgui-api'
      #   language: system
      - id: isort
        name: isort (python)
        args: ["--profile", "black"]
        entry: bash -c 'cd api && poetry run isort'
        language: system
        types: [python]
        files: ^api/
      - id: pyupgrade
        name: pyupgrade
        entry: bash -c 'cd api && poetry run pyupgrade'
        language: system
        files: ^api/
      - id: black
        name: black
        language: system
        entry: bash -c 'cd api && poetry run black .'
        types: [python]
        files: ^api/
      - id: flake8
        name: flake8
        entry: bash -c 'cd api && poetry run flake8 --max-line-length=88 kubeseal_webgui_api'
        language: system
        types: [python]
        files: ^api/
      - id: tests
        name: run test suite
        entry: bash -c 'cd api && poetry install && poetry run pytest -m "not (container or cluster)"'
        language: system
        types: [python]
        pass_filenames: false
        files: ^api/
        # stages: [push]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v8.25.0" # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]

Rewrite Helm Chart for multi environment support
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/README.md
  chart/kubeseal-webgui/templates/clusterrole.yaml
  chart/kubeseal-webgui/templates/clusterrolebinding.yaml
  chart/kubeseal-webgui/templates/configmap.yaml
  chart/kubeseal-webgui/templates/deployment.yaml
  chart/kubeseal-webgui/templates/ingress-api.yaml
  chart/kubeseal-webgui/templates/ingress-ui.yaml
  chart/kubeseal-webgui/templates/ingress.yaml
  chart/kubeseal-webgui/templates/route-api.yaml
  chart/kubeseal-webgui/templates/route-ui.yaml
  chart/kubeseal-webgui/templates/service-api.yaml
  chart/kubeseal-webgui/templates/service-ui.yaml
  chart/kubeseal-webgui/templates/serviceaccount.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

migrate e2e test to new chart structure
  kind-setup.sh
Due: none

Fix ci
  .github/workflows/kind.yaml
  .github/workflows/main.yml
  Dockerfile.api
Due: none

Update python deps
  api/poetry.lock
Due: pyupgrade

Update npm deps
  ui/package.json
Due: none

Update deps
  Dockerfile.api
  api/poetry.lock
  ui/package.json
Due: pyupgrade

Update npm and python deps
  api/poetry.lock
  ui/package.json
Due: pyupgrade

Update deps and kubeseal binary
  Dockerfile.api
  api/poetry.lock
  ui/package.json
Due: pyupgrade

Update pyproject.toml version
  api/pyproject.toml
Due: pyupgrade

Update fastapi
  api/poetry.lock
  api/pyproject.toml
Due: pyupgrade

Update 09 24 (#247)
  Dockerfile.api
  api/poetry.lock
  api/pyproject.toml
  ui/package.json
Due: pyupgrade

Update helm version
  chart/kubeseal-webgui/Chart.yaml
  chart/kubeseal-webgui/values.yaml
Due: none

Add chart version 5.2.1
  index.yaml
  kubeseal-webgui-5.2.1.tgz
Due: none

Remove deprecated settings
  .vscode/settings.json
Due: none

Use ruff for linting and formatting
  api/.pre-commit-config.yaml
  api/poetry.lock
  api/pyproject.toml
Due: pyupgrade

Fix a few nags from ruff linting
  api/kubeseal_webgui_api/app_config.py
  api/kubeseal_webgui_api/routers/kubeseal.py
  api/kubeseal_webgui_api/routers/models.py
  api/tests/test_run_kubeseal.py
Due: isort, pyupgrade, black, flake8, tests

Update image and setup to use Python 3.12
  Dockerfile.api
  api/pyproject.toml
Due: pyupgrade

Fix bug in file upload introduced by bug-fix in vuetify
  ui/src/components/Secrets.vue
Due: none

Ignore more python tool cache dirs
  .gitignore
Due: none

Remove unused code and unnecessary quotes
  ui/src/components/Secrets.vue
Due: none

Disable encrypt button, when not all needed data is present
  ui/src/components/Secrets.vue
Due: none

Use ruff (#248)
  .vscode/settings.json
  Dockerfile.api
  api/.pre-commit-config.yaml
  api/kubeseal_webgui_api/app_config.py
  api/kubeseal_webgui_api/routers/kubeseal.py
  api/kubeseal_webgui_api/routers/models.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/test_run_kubeseal.py
Due: isort, pyupgrade, black, flake8, tests

Fix bug in file upload introduced by bug-fix in vuetify (#249)
  ui/src/components/Secrets.vue
Due: none

Ignore more python tool cache dirs (#250)
  .gitignore
Due: none

Remove unused code and unnecessary quotes (#251)
  ui/src/components/Secrets.vue
Due: none

Disable encrypt button, when not all needed data is present (#252)
  ui/src/components/Secrets.vue
Due: none

Update node dependencies via npm audit fix
  ui/package-lock.json
Due: none

Migrate from deprecated events to lifespan functionality
  api/kubeseal_webgui_api/app.py
Due: isort, pyupgrade, black, flake8, tests

Silence warnings from deepsource
  api/kubeseal_webgui_api/app.py
Due: isort, pyupgrade, black, flake8, tests

Update node dependencies via npm audit fix (#253)
  ui/package-lock.json
Due: none

Update readme to show we need python 3.12 now
  README.md
Due: none

Migrate from deprecated events to lifespan functionality (#254)
  api/kubeseal_webgui_api/app.py
Due: isort, pyupgrade, black, flake8, tests

Update readme to show we need python 3.12 now (#255)
  README.md
Due: none

Add multi environment support
  ui/public/config.json
  ui/src/components/Secrets.vue
Due: none

new style of vuetify components
  ui/src/components/Secrets.vue
Due: none

Improve ui
  ui/public/config.json
  ui/src/components/Secrets.vue
Due: none

Improve ui styling
  ui/src/components/Secrets.vue
Due: none

Update ui/src/components/Secrets.vue
  ui/src/components/Secrets.vue
Due: none

Add origin url to cors allowed origins when set the env var.
  .gitignore
  .vscode/settings.json
  api/kubeseal_webgui_api/app.py
  api/kubeseal_webgui_api/app_config.py
Due: isort, pyupgrade, black, flake8, tests

Applied suggestions
  ui/public/config.json
Due: none
