Repository Jaydee94/kubeseal-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        exclude: ^chart/kubeseal-webgui/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #   - id: pydocstyle
  #  - repo: https://github.com/PyCQA/prospector
  #rev: 1.5.1
  #hooks:
  #- id: prospector
  #args: ["--zero-exit"]
  - repo: local
    hooks:
      # - id: mypy
      #   name: mypy
      #   entry: bash -c 'cd api && poetry run mypy kubeseal-webgui-api'
      #   language: system
      - id: isort
        name: isort (python)
        args: ["--profile", "black"]
        entry: bash -c 'cd api && poetry run isort'
        language: system
        types: [python]
        files: ^api/
      - id: pyupgrade
        name: pyupgrade
        entry: bash -c 'cd api && poetry run pyupgrade'
        language: system
        files: ^api/
      - id: black
        name: black
        language: system
        entry: bash -c 'cd api && poetry run black .'
        types: [python]
        files: ^api/
      - id: flake8
        name: flake8
        entry: bash -c 'cd api && poetry run flake8 --max-line-length=88 kubeseal_webgui_api'
        language: system
        types: [python]
        files: ^api/
      - id: tests
        name: run test suite
        entry: bash -c 'cd api && poetry install && poetry run pytest -m "not (container or cluster)"'
        language: system
        types: [python]
        pass_filenames: false
        files: ^api/
        # stages: [push]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v8.25.0" # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]

Update deps and kubeseal binary
  Dockerfile.api
  api/poetry.lock
  api/pyproject.toml
  ui/package-lock.json
Due: pyupgrade

Update deps and kubeseal binary (#215)
  Dockerfile.api
  api/poetry.lock
  api/pyproject.toml
  ui/package-lock.json
Due: pyupgrade

Update deps
  api/poetry.lock
  ui/package-lock.json
Due: pyupgrade

Use components instead of properties based setup
  ui/src/components/DarkMode.vue
Due: none

Simplify JS inline functions
  ui/src/components/Secrets.vue
Due: none

Run poetry update
  api/poetry.lock
Due: pyupgrade

Update python dependencies
  api/kubeseal_webgui_api/app_config.py
  api/kubeseal_webgui_api/routers/models.py
  api/poetry.lock
  api/pyproject.toml
Due: isort, pyupgrade, black, flake8, tests

Use components instead of properties based setup (#218)
  ui/src/components/DarkMode.vue
Due: none

Update python deps (#220)
  api/kubeseal_webgui_api/app_config.py
  api/kubeseal_webgui_api/routers/models.py
  api/poetry.lock
  api/pyproject.toml
Due: isort, pyupgrade, black, flake8, tests

Simplify JS inline functions (#219)
  ui/src/components/Secrets.vue
Due: none

Update kubeseal binary to 0.24.0
  Dockerfile.api
  README.md
Due: none

Update python dependencies
  api/poetry.lock
Due: pyupgrade

Some minor styling improvements and clearable text fields
  ui/src/components/Secrets.vue
Due: none

Convert AppConfig to components
  ui/src/components/AppConfig.vue
Due: none

Some minor styling improvements and clearable text fields (#223)
  ui/src/components/Secrets.vue
Due: none

Convert App.vue to components
  ui/src/App.vue
Due: none

Update python dependencies (#222)
  api/poetry.lock
Due: pyupgrade

Convert App.vue to components (#225)
  ui/src/App.vue
Due: none

Convert AppConfig to components (#224)
  ui/src/components/AppConfig.vue
Due: none

Convert Secrets to components
  ui/src/components/Secrets.vue
Due: none

Do not use this when not needed
  ui/src/components/DarkMode.vue
Due: none

Configure vues own proxy module
  ui/public/config.json
  ui/vue.config.js
Due: none

Add CI build for ghcr images
  .github/workflows/ghcr-build.yml
Due: none

Do not use this when not needed (#227)
  ui/src/components/DarkMode.vue
Due: none

Configure vues own proxy module (#228)
  ui/public/config.json
  ui/vue.config.js
Due: none

Expose API Port in Dockerfile as recommended by dockerlint
  Dockerfile.api
Due: none

Try to get information about the current workflow event
  .github/workflows/ghcr-build.yml
Due: none

Try to skip job, if we are a remote branch
  .github/workflows/ghcr-build.yml
Due: none

Try another filter for remote branches
  .github/workflows/ghcr-build.yml
Due: none

Try another condition and re-add context info debug output
  .github/workflows/ghcr-build.yml
Due: none

Fix syntax error introduced by formatter
  .github/workflows/ghcr-build.yml
Due: none

Add more debug info and try another condition formulation
  .github/workflows/ghcr-build.yml
Due: none

Remove debug output
  .github/workflows/ghcr-build.yml
Due: none

Add CI build for ghcr images (#229)
  .github/workflows/ghcr-build.yml
Due: none

Build a new container for master every week
  .github/workflows/ghcr-build.yml
Due: none

Rename container images to match docs
  .github/workflows/ghcr-build.yml
Due: none

Build container on master with cron (#232)
  .github/workflows/ghcr-build.yml
Due: none

Convert to vite
  README.md
  ui/.eslintrc.cjs
  ui/.eslintrc.js
  ui/.prettierrc.json
  ui/README.md
  ui/babel.config.js
  ui/index.html
  ui/package-lock.json
  ui/package.json
  ui/src/components/Logo.vue
  ui/vite.config.js
  ui/vue.config.js
Due: none

Convert to vite (#233)
  README.md
  ui/.eslintrc.cjs
  ui/.eslintrc.js
  ui/.prettierrc.json
  ui/README.md
  ui/babel.config.js
  ui/index.html
  ui/package-lock.json
  ui/package.json
  ui/src/components/Logo.vue
  ui/vite.config.js
  ui/vue.config.js
Due: none

Update python deps
  api/poetry.lock
Due: pyupgrade
